[submodule "frontend"]
	path = frontend
	url = https://github.com/SatishSonkamble050/career-suggestion-ai-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/SatishSonkamble050/career-suggestion-ai
